// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

.card {
  background-color: #f7f7c8;
  padding: 14px;
}


#button {
  background-color: blue;
  color: white;

}

a {
  text-decoration: none;
  color: #8e8ec5;
  font: 12px;
  margin: 14px;
}

